@import url(styles/reset.css);
@import url(styles/header.css);
@import url(styles/1a-secao.css);
@import url(styles/2a-secao.css);
@import url(styles/3a-secao.css);
@import url(styles/4a-secao.css);
@import url(styles/5a-secao.css);
@import url(styles/footer.css);

:root {

    /* CORES */
    --text-color: #667085;
    --title-color: #101828;
    --main-color: #8e2424;
    --main-color-opacity: rgba(142, 36, 36, 0.05);
    --border-color: #EAECF0;
    --border-color-alternative: #D0D5DD;
    --copyright-color: #98A2B3;
    --bottom-text-color: #ffffff;
    --box-shadow-color: rgba(16, 24, 40, 0.05);
    --background-opacity-5asecao: rgba(195, 25, 25, 0.03);
    --background-opacity-footer: #F9FAFB;

    /* FONTES */
    --main-font: "Inter";

    /* PADROES */
    font-family: var(--main-font);
    font-size: 16px;
    width: auto;
    white-space: nowrap;
}

h1,
h4,
h5,
h6 {
    color: var(--title-color);
}

h3 {
    color: var(--main-color)
}

p {
    color: var(--text-color);
}