.quinta-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: 3.5rem 1rem;
    border-radius: 1rem;
    background: var(--background-opacity-5asecao);
    margin: 5rem 10rem;
}

#quinta-secao__titulo-menor {
    text-align: center;
    align-self: stretch;
    color: var(--main-color);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
}

#quinta-secao__titulo-maior {
    text-align: center;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: -0.045rem;
    width: 68rem;
    margin: 1rem;
}

#quinta-secao__foto {
    height: 6rem;
    width: 6rem;
}

#quinta-secao__nome {
    align-self: stretch;
    color: var(--title-color);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 1rem;
}

#quinta-secao__cargo {
    align-self: stretch;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}