header {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 1rem;
}

.cabecalho__lado-esquerdo {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem
}

.cabecalho__conjunto-logo {
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    justify-content: space-around;
    gap: 0 1em
}

.cabecalho__lista-apresentacao {
    display: flex;
    align-items: center;
    padding: 0em 5em;
}

.cabecalho__item-lista-apresentacao {
    padding: 1rem 1rem 1rem 3rem;
}

.cabecalho__link-lista-apresentacao {
    text-decoration: none;
    list-style-type: none;
    color: var(--text-color);
    padding: 0.2em;
}


.cabecalho__lado-direito {
    display: flex;
    align-items: center;
    padding: 0 0 0 10rem;
    gap: 2rem;
}

.cabecalho__item-lista-login {
    list-style-type: none;
}

#cabecalho__link-entrar,
#cabecalho__botao-cadastrar {
    text-decoration: none;
}

#cabecalho__botao-cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bottom-text-color);
    padding: 0.625rem 1.125rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    box-shadow: 0px 1px 2px 0px var(--box-shadow-color);
}

#cabecalho__link-entrar {
    color: var(--text-color);
}