.quarta-secao {
    padding: 0 3rem;
}

.quarta-secao__lista-de-vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.quarta-secao__lista-de-vagas__area {
    display: flex;
    width: 80rem;
    padding: 4rem 2rem 0 2rem;
    flex-direction: column;
    align-items: center;
    width: 48rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.quarta-secao__lista-de-vagas__area-titulo {
    color: var(--title-color);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    width: 17.4671875rem;
    padding-left: 1.5rem;
}

.quarta-secao__lista-de-vagas__area-quadro {

    width: 17.4671875rem;
}

.quarta-secao__lista-de-vagas__espaco-vaga {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 1rem;
    border: 0.2px solid var(--border-color);
    gap: 1.5rem;
    width: 50rem;
    padding: 1.5rem 1.5rem 1.75rem 1.5rem;
    margin: 1.5rem;

}

.quarta-secao__lista-de-vagas__titulo-vaga {
    color: var(--title-color);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    align-self: stretch;
}

.quarta-secao__lista-devagas__descricao-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50rem;
}

.quarta-secao__lista-de-vagas__descricao-vaga {
    color: var(--text-color);
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    padding-right: 3rem;
}